html {
      font-family: Arial, sans-serif;
    }

    body {
      background-color: #f2f2f2;
      padding: 20px;
      width: 50%;
      margin: auto;

    }

    header {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
      width: 90%;
      margin: auto;
    }

    h1 {
      font-size: 28px;
      margin: 0;
    }

    h2 {
      font-size: 20px;
      margin: 0;
      text-align: center;
    }

    h3 {
      font-size: 20px;
      margin: 0;

    }

   
    #MAIN {
      background-color: #fff;
      color: #333;
      margin: 40px auto;
      padding: 20px;
      max-width: 600px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

#calculadora-hombres, #calculadora-mujeres {
      display: none;
    }

    .input-container {
      display: grid;
      gap: 10px;
    }

    input {
      display: block;
      width: 94%;
      margin-bottom: 10px;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      display: block;
      width: 99%;
      padding: 10px;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      background-color: #333;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .button-especial {
      display: inline-block;
      width: 49%;
      padding: 10px;
      font-size: 16px;
      font-weight: bold;
      background-color: #d1d0d6;
      color: #918b8b;
      font-weight: bold;
      border: none;
      border-radius: 10px;
    } 

    button.active {
      background-color: #49494b !important;
      color: #c5d4d8;
    }

    button:hover {
      background-color: #4d4a4afb;
    }

    p {
      margin: 0;
    }


#borrar {
  background-color: #91615e; 
  color: white; 
  border: none; 
  padding: 15px 32px;
  text-align: center;
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
}

#borrar:hover {
  background-color: #973737; 
}



    #calc_imc,
    #calc_icc,
    #calc_mbasal,
    #calc_peso_ideal,
    #calc_masa_magra,
    #calc_pgrasa,
    #borrar {
      margin-top: 10px;
    }

    #imc,
    #icc,
    #metabolismobasal_hombres,
    #metabolismobasal_mujeres,
    #pesoideal,
    #porcentajegrasa,
    #masa_magra {
      font-size: 20px;
      font-weight: bold;
    }

    #lectura,
    #lectura_icc,
    #lectura_peso_ideal,
    #lectura_pgrasa,
    #lectura_masa_magra {
      font-size: 16px;
    }
